body {
    display: flex;
    background-image: url('../images/bckgrd.jpg');
    color: #3b215b;
    font-family: Arial, Helvetica, sans-serif;
}

#app1 p {
    margin-left: 600px;

}

h1 {
    margin-left: 640px;
}

.imagesDatabase  {
    display: flex;
    flex-direction: row;
} 

.miniCard {
    display: flex;
    flex-direction: row;
.miniImages {
    margin-left: 10px;
}

}



.bio-data{
    display: none;
}


.show-bio{
    display: block 
    !important;
}